
@font-face {
     font-family: matter-regular;
     src: url('../src/assets/matter-regular.ttf');
}
@font-face {
     font-family: matter-light;
     src: url('../src/assets/matter-light.ttf');
}
@font-face {
     font-family: roboto;
     src: url('../src/assets/roboto-flex-latin.ttf');
}

.matter-regular{
     font-family: matter-regular;
     font-weight: 800;
}
.matter-light{
     font-family: matter-light;
}
.roboto{
     font-family: roboto;
}
*{
     color: rgb(16, 16, 16);
     
}
::selection{
     color: white;
     background: #111111df;
}

.outlineX{
     color: transparent;
     -webkit-text-stroke:.005px #00000047 ;
}
.cursorXY{
     transform: translate(-8px,-8px);
}